<section class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6660.46667065318!2d51.46009934675466!3d35.813971412423655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e05bcb551ca0f%3A0x501d2255a4af8022!2sTehran%20Province%2C%20Tehran%2C%20District%201%2C%20N%20Kamranieh%20St%2C%20Iran!5e0!3m2!1sen!2s!4v1588162798494!5m2!1sen!2s"
          width="100%" height="100%" frameborder="0" style="border-radius:1%;" allowfullscreen="" aria-hidden="false" tabindex="0" id="maap">
  </iframe>
</section>
<section class="footer-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm">
        <h5 class="footer-sec"><img src="assets/images/other/logo.svg" width="40px"> </h5>
        <p class="footer-sec-about">
          شرکت دانش بنیان محاسبات نرم فناوری اطلاعات و ارتباطات آرکا فعال در زمینه تولید سامانه های هوش مصنوعی و امنیت
          اطلاعات و اپ های موبایل و وب سایت و جزو شرکت های پیشرو در زمینه فناوری های هوشمند و تولید نرم افزارهای خاص
          منظوره درکشور می باشد. عمده محصولات این شرکت دارای تاییدیه های دانش بنیان از معاونت علمی و فناوری ریاست جمهوری
          بوده و دارای تکنولوژی بومی می باشد.
        </p>
      </div>
      <div class="col-sm">
        <h5 class="footer-sec">راه های ارتباطی</h5>
        <ul class="footer-sec-detail">
          <li>
            <i class="fa fa-map-pin ml-2"></i>
            تهران، نیاوران، خیابان باهنر، بعد از چهارراه کامرانیه، پلاک 127، طبقه 4، واحد 5
          </li>
          <li>
            <i class="fa fa-phone ml-2"></i>
            <a href="te:02126156619">021 26156619</a>
          </li>
          <li>
            <i class="fa fa-envelope ml-2"></i>
            <a href="mailto:info@arkainvent.com">info@arkainvent.com</a>
          </li>
          <li>
            <i class="fab fa-linkedin ml-2"></i>
            <a href="">arkainvent</a>
          </li>
          <li>
            <i class="fab fa-instagram ml-2"></i>
            <a href="">arkainvent</a>
          </li>
          <li>
            <i class="fab fa-whatsapp ml-2"></i>
            <a href="tel:"></a>
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <h5 class="footer-sec">دسترسی سریع</h5>
        <ul class="footer-sec-detail">
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            صفحه اصلی
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            درباره ما
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            خدمات
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            پروژه ها
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            اخبار
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            تماس با ما
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <h5 class="footer-sec">خدمات</h5>
        <ul class="footer-sec-detail">
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            طراحی وب سایت
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            طراحی اپلیکیشن
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            برنامه نویسی اختصاصی و سفارشی
          </li>

          <li>
            <i class="fa fa-angle-left ml-2"></i>
            هوش مصنوعی، امنیت و شبکه
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            مشاوره و ایده پردازی استارت آپ
          </li>
          <li>
            <i class="fa fa-angle-left ml-2"></i>
            سئو، تولید محتوا و دیجیتال مارکتینگ
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="copy-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm align-self-center">
        <p>Copyright @2020. Designed & Developed by Arka</p>
      </div>
    </div>
  </div>
</section>
