<div class="container-fluid" id="work-samples">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xl-6 col-right">
      <h4 style="padding-bottom: 10px">نمونه کارها</h4>
      <p class="detail">
        شرکت دانش بنیان آرکا با بیش از 5 سال سابقه فعالیت و تکمیل بیش از 120 پروژه یکی از تخصصی ترین شرکت های برنامه
        نویسی در ایران است که از سال 95 فعالیت خود را در زمینه برنامه نویسی اختصاصی و سفارشی به صورت رسمی آغاز کرده است.
        آرکا درعرض چند سال موفق شده است در پیچیده ترین پروژه های بین المللی درخشیده و تجربیات ارزشمندی را بدست آورد.
        متخصصین آرکا به انواع زبان های برنامه نویسی تحت پلتفرم های مختلف تسلط داشته و همیشه بروزترین و بهترین فن آوری ها
        را برای کار خود انتخاب می کنند، به پشتوانه تخصص و تجربه ای که کسب کرده ایم، توانایی انجام پیچیده ترین و تخصصی
        ترین پروژه ها را دارا هستیم.برای مشاهده نمونه کارها کلیک نمایید
      </p>
      <div class="float-left">
        <button class="btn work-btn">
          نمونه کارها </button>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xl-6 col-left">
    </div>
  </div>
</div>
