.container-fluid {
}
.col-left{
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-image: linear-gradient(rgba(0, 0, 0, .9),rgba(5, 5, 5, .7),rgba(0, 0, 0, .9)),
  url('../../../../assets/images/bg/bg (2).jpg');
  background-size: cover;
  height: 375px;
}
.col-right{
  padding: 35px;
  background-color: #F8F6FA;
  text-align: justify;
  line-height: 25px;
}
.work-btn {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  padding: 15px;
  border-radius:0;
  background-color: #000;
  border:0;

}

.detail{
  font-size: 15px;
  font-family: IRANSans_Light;
  color: #000;

}
