<div class="container-fluid">
  <div class="row col-md-12 col-sm-12">
<!--    <div class="container mt-5">-->
<!--      <div class="row mt-2">-->
<!--        <div class="col-sm">-->
<!--          <a href="#"><mat-card>طراحی وب سایت</mat-card></a>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          <a href="#"><mat-card>طراحی اپلیکیشن</mat-card></a>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          <a href="#"><mat-card>برنامه نویسی اختصاصی و سفارشی</mat-card></a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-sm">-->
<!--          <a href="#"><mat-card>هوش امنیت شبکه</mat-card></a>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          <a href="#"><mat-card>مشاوره و ایده پردازی استارت آپ</mat-card></a>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          <a href="#"><mat-card>سئو، تولید محتوا، دیجیتال مارکتینگ</mat-card></a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
