<!--<div class="container-fluid">-->
<!--  <div class="row col-md-12 col-sm-12">-->
<!--    <div class="container mt-5">-->
<!--      <div class="row mt-2">-->
<!--        <div class="col-sm">-->
<!--          <a href="#"><mat-card>طراحی وب سایت</mat-card></a>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          <a href="#"><mat-card>طراحی اپلیکیشن</mat-card></a>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          <a href="#"><mat-card>برنامه نویسی اختصاصی و سفارشی</mat-card></a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-sm">-->
<!--          <a href="#"><mat-card>هوش امنیت شبکه</mat-card></a>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          <a href="#"><mat-card>مشاوره و ایده پردازی استارت آپ</mat-card></a>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          <a href="#"><mat-card>سئو، تولید محتوا، دیجیتال مارکتینگ</mat-card></a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<section class="section parallax-container bg-gray-darker" data-parallax-img="assets/images/other/bar-img.jpg">
  <div class="material-parallax parallax">
</div>
  <div class="parallax-content">
    <div class="section-lg text-center">
      <div class="container">
        <h2>دستاورد های اخیر ما</h2>
        <p class="text-style-1">از آرکا بیشتر بدانیم</p>
        <div class="row pt-5">
          <div class="col-sm-6 col-md-3">
            <!-- Box counter-->
            <article class="box-counter">
              <div class="box-counter__main">
                <div class="counter animated">20</div>
              </div>
              <div class="box-counter__divider"></div>
              <p class="box-counter__title">طراحی وب سایت</p>
            </article>
          </div>
          <div class="col-sm-6 col-md-3">
            <!-- Box counter-->
            <article class="box-counter">
              <div class="box-counter__main">
                <div class="counter animated">15</div>
              </div>
              <div class="box-counter__divider"></div>
              <p class="box-counter__title">طراحی اپلیکیشن</p>
            </article>
          </div>
          <div class="col-sm-6 col-md-3">
            <!-- Box counter-->
            <article class="box-counter">
              <div class="box-counter__main">
                <div class="counter animated">3</div>
              </div>
              <div class="box-counter__divider"></div>
              <p class="box-counter__title">محصولات دانش بنیان</p>
            </article>
          </div>
          <div class="col-sm-6 col-md-3">
            <!-- Box counter-->
            <article class="box-counter">
              <div class="box-counter__main">
                <div class="counter animated">20</div>
              </div>
              <div class="box-counter__divider"></div>
              <p class="box-counter__title">تعداد همکاران</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
