<section class="section pb-80 why-bg">
  <div class="container justify-content-center text-center">
    <h2 style="color: #000;padding-top: 30px">چرا آرکا؟</h2>
    <div class="row pt-3">
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon fa fa-laptop"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title"> 5+ سال سابقه</h5>
              <p>
                آرکا با بیش از 5 سال سابقه فعالیت در زمینه طراحی سایت و اپلیکیشن موبایل، تولید سامانه های هوش مصنوعی و امنیت اطلاعات با تکمیل بیش از 200 پروژه در طول سال های فعالیت خود، اکنون بروزترین متدها و تکنیک های برنامه نویسی را در اختیار دارد و آماده طراحی برترین نرم افزارها برای مشتریان خود می باشد.              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon  fa fa-users-cog"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">تیم حرفه ای</h5>
              <p>

                تیم آرکا از چندین جوان با انگیزه تشکیل شده است که هر یک هدفی دارند و دائما برای رسیدن به آن تلاش می کند. تخصص و دانش فنی بالا، امتیازی است که ما به عنوان یک شرکت برنامه نویسی به آن افتخار می کنیم.اپلیکیشن ها و سایت هایی که توسط آرکا راه اندازی می شوند، قابلیت ارتقا دارند و گسترش پذیر هستند
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon fa fa-certificate"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">راه حل های نوآورانه</h5>
              <p>
                تمام راه حل ها و پروژه های ما بر اساس ایده های نوآورانه و استراتژی های خلاقانه و منحصر به فردی است که متناسب با نیازها و اهداف تجاری شما می باشد. هر پروژه ای که ما توسعه می دهیم بر اساس راه حل های خلاقانه ای است که برای مشتریان خود طراحی می کنیم. آرکا راهکارهای اختصاصی و سفارشی را برای تک تک مشتریان خود دارد.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon fa fa-thumbs-up"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">ماموریت ما</h5>
              <p>
                از همان ابتدا با هدف ارائه کامل ترین و تخصصی ترین خدمات با مناسب ترین قیمت ها شروع به کار کرده ایم. هدف آرکا طراحی و پیاده سازی پروژه کاملا اختصاصی بر اساس سلیقه شما می باشد و تاکنون در این راستا بسیار موفق بوده است، هدف ما کسب مهارت و تجربه هرچه بیشتر می باشد هم اکنون رضایت مشتریان باعث افتخار ماست
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon fa fa-dollar-sign"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">قیمت مناسب</h5>
              <p>
                آرکا همیشه مناسب ترین قیمت ها را با توجه به کیفیت خدمات خود برای مشتری انتخاب می کند. مناسب ترین قیمت با کیفیت ترین خدمات را با شرکت آرکا می توانید تجربه کنید. کیفیت هدف ماست در این راستا جهت رسیدن به هدف خود قوانینی را برای خودمان تعریف کرده ایم. آرکا توانایی انجام هر پروژه ای با پیچیده ترین و تخصصی ترین امکانات را دارا می باشد.            </p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon fa fa-headset"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">پشتیبانی مشتری</h5>
              <p>
                تیم پشتیبانی حرفه ای آرکا همیشه آماده کمک به رونق کسب و کار شما است. همیشه و در هر زمان پشتیبان مشتریانمان هستیم. واحد پشتیبانی شرکت آرکا متشکل از کارشناسان و متخصصینی می باشد که به هنگام بروز خطا و یا مشکل فنی، در اولین فرصت مشکل را بررسی و برطرف می نمایند، رضایت مشتریان موفقیت ماست
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
