<section class="section pb-80 why-bg">
  <div class="container justify-content-center text-center">
    <h2>چرا آرکا؟</h2>
    <div class="row pt-5">
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon fa fa-laptop"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">20+ Years of Expertise</h5>
              <p>Since our establishment, we have been helping businesses layout the pathway to success.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon fa fa-headset"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">Professional Team</h5>
              <p>mSpace employs the most experienced employees that drive your business forward.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon fa fa-dollar-sign"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">Innovative Solutions</h5>
              <p>All solutions and projects of mService are built on innovative ideas created for your business.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon fa fa-thumbs-up"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">Creative Approach</h5>
              <p>Every project we work on is based on the creative solutions that we design for our customers.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon fa fa-certificate"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">Unique Strategy</h5>
              <p>We create unique creative strategies that are tailored to your business needs and purposes.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Box Alice-->
        <article class="box-alice">
          <div class="box-alice__inner">
            <div class="box-alice__aside">
              <div class="box-alice__icon-outer"><span class="box-alice__icon fa fa-credit-card"></span></div>
            </div>
            <div class="box-alice__main">
              <h5 class="box-alice__title">Customer Support</h5>
              <p>Our professional support team is always ready to help your business thrive.</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
