<div class="container-fluid py-5 pb-80" id="projects-sec">
<div class="container pb-5">
  <div class="row justify-content-center">
    <div class="col-12 align-self-center text-center pb-5">
      <h2>محصولات دانش بنیان</h2>
    </div>
  </div>

  <div class="row align-items-center">
    <p-card class="col-md-4 card-product">
      <ng-template pTemplate="header">
        <img src="../../../../assets/images/banner/banner.jpg" alt="Logo">
      </ng-template>
      <p class="card-title">سیستم جامع پلاک خوانی</p>
      <p class="card-subtitle"> سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی</p>
     <div class="p-card-footer align-self-center" ><p-button  label="مشاهده جزییات"></p-button></div>
    </p-card>
    <p-card class="col-md-4 card-product">
      <ng-template pTemplate="header">
        <img src="../../../../assets/images/banner/banner.jpg" alt="Logo">
      </ng-template>
      <p class="card-title">سیستم جامع پلاک خوانی</p>
      <p class="card-subtitle"> سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی</p>
      <div class="p-card-footer align-self-center" ><p-button  label="مشاهده جزییات"></p-button></div>
    </p-card>
    <p-card class="col-md-4 card-product">
      <ng-template pTemplate="header">
        <img src="../../../../assets/images/banner/banner.jpg" alt="Logo">
      </ng-template>
      <p class="card-title">سیستم جامع پلاک خوانی</p>
      <p class="card-subtitle"> سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی سیستم جامع پلاک خوانی</p>
      <div class="p-card-footer align-self-center" ><p-button  label="مشاهده جزییات"></p-button></div>
    </p-card>
  </div>
</div>
</div>


