<div class="container-fluid py-5 pb-60" id="projects-sec">
<div class="container pb-5">
  <div class="row justify-content-center">
    <div class="col-12 align-self-center text-center pb-5">
      <h2>محصولات دانش بنیان</h2>
    </div>
  </div>
  <div class="row align-items-center">
    <p-card class="col-md-4 card-product">
      <ng-template pTemplate="header">
        <img src="../../../../assets/images/banner/plaque.jpg" alt="Logo">
      </ng-template>
      <p class="card-title">سیستم جامع پلاک خوانی</p>
      <p class="card-subtitle">
        قابلیت تشخیص پلاک با دقت98% را دارا می باشد.دارای گواهی ثبت اختراع و مورد تایید معاونت علمی و فناوری ریاست جمهوری می باشد.      </p>
     <div class="p-card-footer align-self-center" ><p-button  label="مشاهده جزییات"></p-button></div>
    </p-card>
    <p-card class="col-md-4 card-product">
      <ng-template pTemplate="header">
        <img src="../../../../assets/images/banner/fire.jpg" alt="Logo">
      </ng-template>
      <p class="card-title">سیستم تشخیص دوربرد آتش و دود
      </p>
      <p class="card-subtitle">
        قدرت تشخیص انواع آتش سوزی در محیط های مختلف و همچنین تفکیک آتش و دود بر اساس نوع و حجم را دارا می باشد.      </p>
      <div class="p-card-footer align-self-center" ><p-button  label="مشاهده جزییات"></p-button></div>
    </p-card>
    <p-card class="col-md-4 card-product">
      <ng-template pTemplate="header">
        <img src="../../../../assets/images/banner/compress.jpg" alt="Logo">
      </ng-template>
      <p class="card-title">سامانه جامع فشرده سازی تصاویر</p>
      <p class="card-subtitle">
        امکان فشرده سازی محتوا با توجه به نوع کاربرد را دارا می باشد.دارای گواهی ثبت اختراع و مورد تایید معاونت علمی و فناوری ریاست جمهوری می باشد.      <div class="p-card-footer align-self-center" >
      <p-button label="مشاهده جزییات"></p-button></div>
    </p-card>
  </div>
</div>
</div>


