<!--<div class="container-fluid">-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-sm">-->
<!--        <a href="#"><mat-card>طراحی وب سایت</mat-card></a>-->
<!--      </div>-->
<!--      <div class="col-sm">-->
<!--        <a href="#"><mat-card>طراحی اپلیکیشن</mat-card></a>-->
<!--      </div>-->
<!--      <div class="col-sm">-->
<!--        <a href="#"><mat-card>برنامه نویسی اختصاصی و سفارشی</mat-card></a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-sm">-->
<!--        <a href="#"><mat-card>هوش امنیت شبکه</mat-card></a>-->
<!--      </div>-->
<!--      <div class="col-sm">-->
<!--        <a href="#"><mat-card>مشاوره و ایده پردازی استارت آپ</mat-card></a>-->
<!--      </div>-->
<!--      <div class="col-sm">-->
<!--        <a href="#"><mat-card>سئو، تولید محتوا، دیجیتال مارکتینگ</mat-card></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container-fluid service-bg py-4 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>خدمات</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <a href="#">
          <mat-card>
            <img mat-card-image src="assets/images/service/web-img.png" class="img-service">
            <mat-card-content>
              <p>
                طراحی وب سایت
              </p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-sm">
        <a href="#">
          <mat-card>
            <img mat-card-image src="assets/images/service/app-img.png" class="img-service">
            <mat-card-content>
              <p>
                طراحی اپلیکیشن
              </p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-sm">
        <a href="#">
          <mat-card>
            <img mat-card-image src="assets/images/service/custom-img.png" class="img-service">
            <mat-card-content>
              <p>
                برنامه نویسی اختصاصی و سفارشی
              </p>
            </mat-card-content>
            </mat-card>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <a href="#">
          <mat-card>
            <img mat-card-image src="assets/images/service/ai-img.png" class="img-service">
            <mat-card-content>
              <p>
                هوش مصنوعی، امنیت و شبکه
              </p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-sm">
        <a href="#">
          <mat-card>
            <img mat-card-image src="assets/images/service/idea-img.png" class="img-service">
            <mat-card-content>
              <p>
                مشاوره و ایده پردازی استارت آپ
              </p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-sm">
        <a href="#">
          <mat-card>
            <img mat-card-image src="assets/images/service/seo-img.png" class="img-service">
            <mat-card-content>
              <p>
                سئو، تولید محتوا و دیجیتال مارکتینگ              </p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</div>
