<section class="team-bg pb-80" id="team-sec">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 align-self-center text-center pb-5">
        <h2>تیم کاری</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <article class="card-team">
          <div class="card-team-inner">
            <figure class="card-team-media"><img src="assets/images/other/team.jpg" alt="" width="230" height="211">
            </figure>
            <p class="card-team-title">الهام گودرزی</p>
            <p class="card-team-subtitle">Fullstack Developer</p>
            <div class="card-team-divider"></div>
            <div class="card-team-aside">
              <ul class="list-inline list-inline-md p-0">
                <li>
                  <a class="icon icon-xs icon-darker fab fa-facebook"
                  href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-twitter"
                  href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-linkedin"
                  href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-google-plus"
                  href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-lg fa-instagram"></a>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article class="card-team">
          <div class="card-team-inner">
            <figure class="card-team-media"><img src="assets/images/other/team2.jpg" alt="" width="230" height="211">
            </figure>
            <p class="card-team-title">رسول صیدی</p>
            <p class="card-team-subtitle">Fullstack Developer</p>
            <div class="card-team-divider"></div>
            <div class="card-team-aside">
              <ul class="list-inline list-inline-md p-0">
                <li>
                  <a class="icon icon-xs icon-darker fab fa-facebook"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-twitter"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-linkedin"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-google-plus"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-lg fa-instagram"></a>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article class="card-team">
          <div class="card-team-inner">
            <figure class="card-team-media"><img src="assets/images/other/team.jpg" alt="" width="230" height="211">
            </figure>
            <p class="card-team-title">مهناز زین الدینی</p>
            <p class="card-team-subtitle">Web Developer</p>
            <div class="card-team-divider"></div>
            <div class="card-team-aside">
              <ul class="list-inline list-inline-md p-0">
                <li>
                  <a class="icon icon-xs icon-darker fab fa-facebook"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-twitter"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-linkedin"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-google-plus"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-lg fa-instagram"></a>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6 col-lg-4">
        <article class="card-team">
          <div class="card-team-inner">
            <figure class="card-team-media"><img src="assets/images/other/team2.jpg" alt="" width="230" height="211">
            </figure>
            <p class="card-team-title">مهیار گوهری</p>
            <p class="card-team-subtitle">Artificial Intelligence Specialist</p>
            <div class="card-team-divider"></div>
            <div class="card-team-aside">
              <ul class="list-inline list-inline-md p-0">
                <li>
                  <a class="icon icon-xs icon-darker fab fa-facebook"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-twitter"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-linkedin"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-google-plus"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-lg fa-instagram"></a>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article class="card-team">
          <div class="card-team-inner">
            <figure class="card-team-media"><img src="assets/images/other/team.jpg" alt="" width="230" height="211">
            </figure>
            <p class="card-team-title">شیوا محمود زاده</p>
            <p class="card-team-subtitle">Backend Developer</p>
            <div class="card-team-divider"></div>
            <div class="card-team-aside">
              <ul class="list-inline list-inline-md p-0">
                <li>
                  <a class="icon icon-xs icon-darker fab fa-facebook"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-twitter"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-linkedin"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-google-plus"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-lg fa-instagram"></a>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article class="card-team">
          <div class="card-team-inner">
            <figure class="card-team-media"><img src="assets/images/other/team2.jpg" alt="" width="230" height="211">
            </figure>
            <p class="card-team-title">محسن حکیم</p>
            <p class="card-team-subtitle">Digital Marketing Consultant</p>
            <div class="card-team-divider"></div>
            <div class="card-team-aside">
              <ul class="list-inline list-inline-md p-0">
                <li>
                  <a class="icon icon-xs icon-darker fab fa-facebook"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-twitter"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-linkedin"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-google-plus"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-lg fa-instagram"></a>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>


    </div>

    <div class="row mt-5">
      <div class="col-md-6 col-lg-4">
        <article class="card-team">
          <div class="card-team-inner">
            <figure class="card-team-media"><img src="assets/images/other/team.jpg" alt="" width="230" height="211">
            </figure>
            <p class="card-team-title">مهنا عزیزی</p>
            <p class="card-team-subtitle">Frontend Developer</p>
            <div class="card-team-divider"></div>
            <div class="card-team-aside">
              <ul class="list-inline list-inline-md p-0">
                <li>
                  <a class="icon icon-xs icon-darker fab fa-facebook"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-twitter"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-linkedin"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-google-plus"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-lg fa-instagram"></a>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article class="card-team">
          <div class="card-team-inner">
            <figure class="card-team-media"><img src="assets/images/other/team2.jpg" alt="" width="230" height="211">
            </figure>
            <p class="card-team-title">میلاد مقدسی</p>
            <p class="card-team-subtitle">Frontend Developer</p>
            <div class="card-team-divider"></div>
            <div class="card-team-aside">
              <ul class="list-inline list-inline-md p-0">
                <li>
                  <a class="icon icon-xs icon-darker fab fa-facebook"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-twitter"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-linkedin"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-google-plus"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-lg fa-instagram"></a>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article class="card-team">
          <div class="card-team-inner">
            <figure class="card-team-media"><img src="assets/images/other/team.jpg" alt="" width="230" height="211">
            </figure>
            <p class="card-team-title">نازنین حداد</p>
            <p class="card-team-subtitle">Digital Marketing Consultant</p>
            <div class="card-team-divider"></div>
            <div class="card-team-aside">
              <ul class="list-inline list-inline-md p-0">
                <li>
                  <a class="icon icon-xs icon-darker fab fa-facebook"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-twitter"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-linkedin"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-google-plus"
                     href="#"></a>
                </li>
                <li>
                  <a class="icon icon-xs icon-darker fab fa-lg fa-instagram"></a>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>

  </div>
</section>
