<app-bread-crumbs [titleData]='title'></app-bread-crumbs>


<section class="project-section">
  <div class="posts-row">
    <div class="container">
      <div class="blog-articles">
        <article class="side-post">
          <div class="side-post-image">
            <div class="post-category"><a href="#" class="">Lifestyle</a>
            </div>
            <a href="#" class="">
              <figure class="img-cover" style="background-image: url('../../../assets/images/other/blog-1.jpg');">

              </figure>
            </a>
          </div>
          <div class="side-post-content">
            <div class="post-content-wrapper">
              <div class="post-title">
                <h3><a href="#" class="">What's Coming to Netflix</a></h3>
              </div>
              <div class="post-body">
                <p>Quae veritatis, quisquam ullam dolore quam in, consequatur, beatae delectus, fugit alias soluta
                  nihil? Fuga placeat, similique non totam quisquam eos dolore.</p>
              </div>
            </div>
          </div>
        </article>
        <article class="side-post image-right">
          <div class="side-post-image">
            <div class="post-category"><a href="#" data-custom-bg="#f42841" style="background-color: rgb(244, 40, 65);"
                                          class="">Tech</a>
            </div>
            <a href="#" class="">
              <figure class="img-cover" style="background-image: url('../../../assets/images/other/blog-1.jpg');">

              </figure>
            </a>
          </div>
          <div class="side-post-content">
            <div class="post-content-wrapper">
              <div class="post-title">
                <h3><a href="#" class="">What to Do With a Full Phone</a></h3>
              </div>
              <div class="post-body">
                <p>Quae veritatis, quisquam ullam dolore quam in, consequatur, beatae delectus, fugit alias soluta
                  nihil? Fuga placeat, similique non totam quisquam eos dolore.</p>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="blog-pagination">
        <ul class="pagination">
          <li><span class="current-page">1</span>
          </li>
          <li><a href="#" class="">2</a>
          </li>
          <li><a href="#" class="">3</a>
          </li>
          <li><a class="next-page" href="#"><i class="fa fa-arrow-left"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
